/*Start global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

html{
    font-size: 10px;
    font-family: 'Segoe UI', 'Open Sans', 'sans-serif', 'Roboto';

}

a{
    text-decoration: none;
}

body{
    width: 100%;
    height: 100%;
    background: url(/images/background4.png) repeat center fixed;
    background-size: cover;
}

section{
    padding: 5rem;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    width: 100%;
}


/*End global*/

/* Starts images layout */

.row{
    display: flex;
    flex-wrap: wrap;
}


/* END IMAGE LAYOUT */

/*Start reusable*/

.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading{
    text-align: center;
    margin-bottom: 10rem;
}

h1{
    font-size: 5rem;
    background: -webkit-linear-gradient(#F727B2, #3883ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-heading h2{
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    margin-bottom: 1rem;
    background: -webkit-linear-gradient(#F727B2, #3883ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-heading h6{
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    margin-bottom: 1rem;
}

/*End reusable*/

/*Start header*/

.dropdown-menu > li {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display: none;
    margin-top: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-color: #ccc;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }
  .right-caret:after,
  .left-caret:after {
    content: "";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
    margin-left: 5px;
  }
  .right-caret:after {
    border-left: 5px solid #444;
  }
  .left-caret:after {
    border-right: 5px solid #444;
  }
  .navbar-default .navbar-nav .dropdown .drop-button {
    border: none;
    padding:0px;
    outline: none;
    border-radius: 0;
    
  }
  .navbar-nav li a{
    background-color: rgb(191, 107, 233) !important;
    color: white !important;
  }

  .navbar-nav li a:hover{
    color: #ECCBE6 !important;
  }

  .navbar-default .navbar-nav .dropdown .drop-button:focus,
  .navbar-default .navbar-nav .dropdown .drop-button:hover {
    border: none;
    outline: none;
    box-shadow: none;
  }

  

  .navbar-brand{
      color: white !important;
  }

  .navbar-brand:hover{
    color: #ECCBE6 !important;
}


/* End new header */


header{
    width: 100%;
    height: 100vh;
}

.topnav{
    float: right;
}


.landing-text{
    margin-top: 10%;
    width: 100%;
    height: 20rem;
    text-align: center;
    z-index: 1;
}

/* new topnav */

.landing-text h1{
    font-size: 9rem !important;
    font-family: 'Open-Sans', sans-serif;
    background: linear-gradient(to top, #F727B2, #3883ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
}

.landing-text h6{
    font-size: 8rem;
    font-weight: 400;
    border: none;
}

nav{
    top:0px;
    position: static;
}


/* End new header */
/*End header*/

/*Start footer*/
.copyright{
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;
}

.up{
    position: absolute;
    height: 5rem;
    width: 5rem;
    background-color: lightgray;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
}

.up i{
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    font-size: 1.3rem;
    color: white;
}
/*End footer*/

/*Start animations*/
@-webkit-keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}
/*End animations*/

/*Start media queries*/
@media screen and (min-width: 1025px) {
    .container-fluid{
        background-color: rgb(191, 107, 233);
    }
    .navbar-default .navbar-nav .dropdown .drop-button {
        text-align: left;
      }

    .landing{
        position:absolute;
        left:50%;
        top:15%;
        transform: translate(-50%,-30%);
    }

    .nav-link{
        font-size: 2rem;
    }

    .about-heading h2{
        font-size: 4rem;
    }

    .section-heading h2{
        font-size: 3rem;
    }

    .about-details li{
        margin: 0 2rem;
    }

    .timeline .date::before{
        font-size: 1.5rem;
    }

    .landing-text h1{
        font-size: 6rem;
    }

    .landing-text h6{
        font-size: 4rem;
    }
    .dropdown-menu a{
        margin:0px;
        padding: 1rem !important;
    }
    .dropdown-menu{
        padding: 0 !important;
    }

    .landing-text{
        margin-top: 40%;
        margin-bottom: 20%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container-fluid{
        background-color: rgb(191, 107, 233);
    }
    .navbar-default .navbar-nav .dropdown .drop-button {
        text-align: left;
      }

    .landing{
        position:absolute;
        left:50%;
        top:15%;
        transform: translate(-50%,-30%);
    }

    .nav-link{
        font-size: 2rem;
    }

    .about-heading h2{
        font-size: 4rem;
    }

    .section-heading h2{
        font-size: 3rem;
    }

    .about-details li{
        margin: 0 2rem;
    }

    .timeline .date::before{
        font-size: 1.5rem;
    }

    .landing-text h1{
        font-size: 6rem;
    }

    .landing-text h6{
        font-size: 4rem;
    }
    .dropdown-menu a{
        margin:0px;
        padding: 1rem !important;
    }
    .dropdown-menu{
        padding: 0 !important;
    }

    .landing-text{
        margin-top: 110%;
        margin-bottom: 20%;
    }

    #totop{
        top: 122rem;
        right: 3rem;
    }
  
}
@media screen and (max-width: 768px) and (min-width: 601px) {
    .navbar-default .navbar-nav .dropdown .drop-button {
        text-align: left;
      }
      
    li{
        margin: 1rem 0;
    }
    
    .nav-link{
        font-size: 2rem;
    }

    .about-heading h2{
        font-size: 4rem;
    }

    .section-heading h2{
        font-size: 3rem;
    }

    .about-details li{
        margin: 0 2rem;
    }

    .timeline .date::before{
        font-size: 1.5rem;
    }

    .landing{
        position:absolute;
        left:50%;
        top:25%;
        transform: translate(-50%,-10%);
    }

    .landing-text h1{
        font-size: 6rem;
    }

    .landing-text h6{
        font-size: 4rem;
    }

    .barra{
        background-color: white !important;
    }

    .navbar-nav a{
        background-color: rgb(191, 107, 233) !important;
        color: white !important;
    }

    a.navbar-brand{
        color: rgb(191, 107, 233) !important;
        font-weight: 600;
    }

    .dropdown-menu{
        padding: 0 !important;
    }
    
    .dropdown-menu a{
        margin:0px;
        padding: 1rem !important;
    }
    
    .navbar-default{
        background-color: rgba(0, 0, 0, 0) !important;
        border: none !important;
    }
    
    #totop{
        top: 85rem;
        right: 3rem;
    }

}

@media screen and (max-width: 600px){
    
    .navbar-default{
        background-color: rgba(0, 0, 0, 0) !important;
        border: none !important;
    }

    .about .container{
        flex-direction: column;
        align-content: center;
        text-align: center;
    }

    .landing{
        position:absolute;
        left:50%;
        top:35%;
        transform: translate(-50%,-10%);
    }

    .landing-text h1{
        font-size: 4rem !important;
    }

    .landing-text h6{
        font-size: 2rem;
    }

    .profile-img{
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .portfolio-item{
        flex-direction: column;
    }

    .portfolio-description{
        margin: 0;
    }

    .timeline p{
        font-size: 1.6rem;
    }

    .timeline .date::before{
        font-size: 1.4rem;
        padding-left: 85px;
        z-index: 50;
    }

    .timeline h2{
        font-size: 2rem;
    }
    
    .cta{
        padding-bottom: 1.5rem;
    }

    .barra{
        background-color: white !important;
    }

    .navbar-nav a{
        background-color: rgb(191, 107, 233) !important;
        color: white !important;
    }

    a.navbar-brand{
        color: rgb(191, 107, 233) !important;
        font-weight: 600;
    }

    .dropdown-menu{
        padding: 0 !important;
    }

    .collapsed{
        background-color: rgb(191, 107, 233) !important;
    }
    
    .dropdown-menu a{
        background-color: rgb(92, 37, 119) !important;
    }
    .topnav{
        background-color: rgb(191, 107, 233) !important;
    }

    .contact-info h3{
        font-size: 1.5rem;
    }

    .contact-info h4{
        font-size: 1.5rem;
    }

    #totop{
        top: 62rem;
        right: 3rem;
    }
}
/*End media queries*/
